extends ./layout/indexAdmin

block contenido
  h1.mt-5.py-5.text-center #{pagina}  
  each reservacion in reservaciones 
    .container
      .card.mt-5
        .card-body
          h3.card-title.mb-5  #{reservacion.nombre}
          h4.card-subtitle.mb-3.text-muted Correo:  #{reservacion.correo}
          h4.card-subtitle.mb-3.text-muted Numero Telefonico:  #{reservacion.numero}
          h4.card-subtitle.mb-3.text-muted Destino: #{reservacion.destino}          
          h4.card-subtitle.mb-3.text-muted Numero de Boletos: #{reservacion.boletos}
          h4.card-subtitle.mb-3.text-muted Codigo de Reservaciones: #{reservacion.codigo}

        

     
